{{define "main"}}
	<div class="x-body">
		<form class="layui-form">
			<div class="layui-form-item">
				<label for="title" class="layui-form-label"><span class="x-red">*</span>名称</label>
				<div class="layui-input-block">
					<input type="text" id="title" name="title" lay-verify="required" autocomplete="off" class="layui-input" value="{{.result.Title}}">
				</div>
			</div>

			<div class="layui-form-item">
				<label  class="layui-form-label"><span class="x-red">*</span>缩略图</label>
				<div class="layui-input-inline">
					<img id="LAY_upload" width="150"
						 {{if .IsUpdate}}
						 src="../../{{.result.Image}}"
						 {{end}}
					>
					<input type="hidden" id="upload_cover" name="image" value="{{.result.Image}}">
				</div>

				<div class="layui-input-inline">
				  <div class="site-demo-upbar">
                    <button type="button" class="layui-btn layui-btn-primary" id="upimg">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
				  </div>
				</div>
			</div>

			<div class="layui-form-item">
				<label for="title" class="layui-form-label">跳转url</label>
				<div class="layui-input-block">
					<input type="text" name="point_url"  class="layui-input" value="{{.result.PointUrl}}">
				</div>
			</div>

			<div class="layui-form-item">
				<label for="title" class="layui-form-label">排序</label>
				<div class="layui-input-block">
					<input type="text" name="sort"  class="layui-input" value="{{.result.Sort}}">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">启用状态</label>
				<div class="layui-input-inline">
					{{if .IsUpdate}}
					<input type="radio" name="status" value="0" title="禁用"  {{if eqpoint .result.Status 0 }} checked {{end}} >
					<input type="radio" name="status" value="1" title="启用"  {{if eqpoint .result.Status 1 }}  checked {{end}} >

					{{else}}
					<input type="radio" name="status" value="0" title="禁用"  >
					<input type="radio" name="status" value="1" title="启用"  checked >
					{{end}}
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">语言</label>
				<div class="layui-input-inline">
					{{if .IsUpdate}}
					<div class="layui-col-md6">
						<select name="language">
							<option value="">请选择</option>
							{{range $k,$v := .language}}
							<option value="{{$v.Code}}" {{if eq $.result.Language $v.Code }} selected {{end}}>{{$v.Name}}</option>
							{{end}}
						</select>
					</div>
					{{else}}
					<div class="layui-col-md6">
						<select name="language">
							<option value="">请选择</option>
							{{range $k,$v := .language}}
							<option value="{{$v.Code}}" >{{$v.Name}}</option>
							{{end}}
						</select>
					</div>
					{{end}}
				</div>
			</div>


			<div class="layui-form-item">
				<input type="hidden" id="id" name="id" value="{{.result.Id}}">
				<button  class="layui-btn" lay-filter="save" lay-submit="">
					保存
				</button>
			</div>
		</form>
	</div>
	<script>
		window.onload = function() {
			layui.use(['form', 'layer', 'upload'], function() {
				$ = layui.jquery;

				var form = layui.form
					,layer = layui.layer;
  
				//图片上传接口
				layui.upload.render({
                    elem: '#upimg',
                    field: 'file',
					url: {{urlfor "PublicController.Upload?type=banner"}},
					done: function(res) { //上传成功后的回调
						if (res.code == 200) {
							$('#LAY_upload').attr('src',"../../"+ res.data.url);
							$('#upload_cover').val(res.data.url);
						} else {
							layer.msg(res.msg, {icon: 3});
						}
					}
				});

				// 监听提交
				form.on('submit(save)', function(data) {
					ajax_post("{{.PostUrl}}", data.field, load_page, true, true, true);
					return false;
				});
			});
		}
	</script>
</body>
{{end}}