
{{define "main"}}

<body class="x-iframe-body">


<div class="x-body">
        <div class="layui-card">


            <table class="layui-table layui-form">
                <thead>
                    <tr>

                       <th style="width: 30px"><input type="checkbox" lay-skin="primary" lay-filter="all-select"></th>
                        <th>ID</th>
                        <th>时间</th>
                      <th>订单id</th>
<th>产品id</th>
<th>产品名称</th>
<th>产品图片</th>
<th>总价格</th>
                        <th>售价</th>
<th>商城价</th>
<th>数量</th>
                        <th>商品奖励类型</th>

                    </tr>
                </thead>
                <tbody id="x-img">
              {{range .List}}
                    <tr>
                        <td><input type="checkbox" lay-skin="primary" value="{{.Id}}" class="all-x-select"></td>
                        <td>{{.Id}}</td>
                        <td>{{.CreatedAt}}</td>
                        <td>{{.OrderId}}</td>
<td>{{.ProductId}}</td>
                        <td>{{language "zh-hant" .ProductName}}</td>
<td><img src="{{.ProductImg}}" width="200" οnerrοr="nofind();" /></td>

<td>{{.TotalPrice}}</td>
                        <td>{{.SellPrice}}</td>
<td>{{.UnitPrice}}</td>
<td>{{.Qty}}</td>
                        <td>{{.RewardType}}</td>
 </tr>
                {{end}}

                </tbody>
            </table>
            <div id="page"></div>
        </div>
	</div>
	<script>
		window.onload = function() {
			layui.use(['layer', 'form' ,'laypage', 'form'], function() {
				$ = layui.jquery; //jquery
				layer = layui.layer; //弹出层
                var laypage = layui.laypage; // 分页
                form=layui.form
                // 分页
                laypage.render({
                    elem: 'page',
                    count: {{.Count}},
                limit: {{.Search.limit}},
                curr:  {{.Search.page}},
                prev: '<em><</em>',
                    next: '<em>></em>',
                    skip: false,
                    jump: function (obj, first) {
                    if (first != true) {
                        var query = $('.x-search-form').serialize();
                        query += "&page=" + obj.curr;

                        //  load_page({{urlfor "admin.RoleController.Index"}} + "?" + query,"son");
                        window.location.href={{urlfor "admin.OrderItemsController.Index"}} + "?" + query
                        //layui.admin.tabsBody(layui.admin.tabsPage.index).find(".layadmin-iframe")
                        // layui.admin.url .tabsBodyChange({{urlfor "admin.RoleController.Index"}} + "?" + query)
                    }
                }
            });

				layer.ready(function() { //为了layer.ext.js加载完毕再执行
					layer.photos({
						photos: '#x-img'
						//,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机
					});
				});
			});
            $('#resetBtn').on('click', function(){
                // 使用form模块的resetField方法来重置表单
                form.resetField('myForm');
            });
		}

		// 批量删除提交
		function del_all() {
			parent.layer.confirm('确认要删除吗？', function(index) {
                var ids = get_list_ids('all-x-select');
				// 发异步删除数据
				ajax_post({{urlfor "admin.OrderItemsController.DeleteBatch"}}, {ids: ids}, false,true, false, true);
			});
		}

		// 删除
		function del(obj, id, name) {
            parent.layer.confirm('确认要删除吗？', function(index) {
				$(obj).parents("tr").remove();

				//发异步删除数据
				ajax_post({{urlfor "admin.OrderItemsController.Delete"}}, {id: id, name: name}, reload_page);
			});
		}
        $("#btn-search").click(function () {
            var query = $('.x-search-form').serialize();
            console.log(query)
            load_page({{urlfor "admin.OrderItemsController.Index"}} + '?' + query);
        });
        $("#reset").click(function () {
            load_page({{urlfor "admin.OrderItemsController.Index"}} + '?' );
        });

    </script>
</body>
{{end}}

