{{define "main"}}
<style type="text/css">
    .fix-table{table-layout: fixed;}
    .fix-table td {white-space: nowrap; /* 自适应宽度*/overflow:hidden;text-overflow:ellipsis;/*省略号显示*/}
</style>
<div class="layui-card">
    <div class="layui-card">
        <form class="layui-form x-center x-search-form" style="width:80%">
            <div class="layui-form-pane" style="margin-top: 15px;">
                <div class="layui-form-item">
                    <!--          <label class="layui-form-label">日期范围</label>-->
                    <!--          <div class="layui-input-inline">-->
                    <!--            <input type="text" class="layui-input" id="date-range" value="{{.Search.st}} - {{.Search.et}}">-->
                    <!--            <input type="hidden" class="layui-input" name="st" value="{{.Search.st}}">-->
                    <!--            <input type="hidden" class="layui-input" name="et" value="{{.Search.et}}">-->
                    <!--          </div>-->
                    <div class="layui-inline">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-inline">
                            <input type="text" name="key" placeholder="key" autocomplete="off" class="layui-input" value="{{.req.Key}}">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="名称" autocomplete="off" class="layui-input" value="{{.req.Name}}">
                        </div>
                    </div>


                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width:80px">
                            <button type="button" class="layui-btn" id="btn-search"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="layui-card-body">
        <button type="button" class="layui-btn" onclick="x_admin_show('添加协议', '{{urlfor "admin.AgreementController.Edit"}}')">添加</button>
    </div>
</div>
<div class="layui-card">
    <!--        <div class="layui-card-header">理财订单</div>-->
    <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>

            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>Key</th>
                <th>语言</th>
                <th>名称</th>
                <th>分组</th>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            {{range $value := .list}}
            <tr>
                <td>{{$value.Id}}</td>
                <td>{{$value.Key}}</td>
                <td>{{$value.Language}}</td>
                <td>{{$value.Name}}</td>
                <td>{{$value.Group}}</td>
                <td>
                    <div class="layui-btn-container">
                        <button onclick="x_admin_show('修改协议', '{{urlfor "admin.AgreementController.Edit"}}?id={{$value.Id}}')" class="layui-btn">修改</button>
                        <button onclick="agreement_del(this, {{$value.Id}})" class="layui-btn layui-btn-danger">删除</button>
                    </div>
                </td>
            </tr>
            {{end}}
            </tbody>
        </table>
        <div id="page"></div>
    </div>
</div>
<!--</div>-->
<script>
    window.onload = function () {
        layui.use(['element', 'layer', 'laydate', 'laypage', 'form', 'util'], function() {
            var $ = layui.jquery;        // jquery
            var laypage = layui.laypage; // 分页
            var layer = layui.layer;
            var form = layui.form;

            // 分页
            laypage.render({
                elem: 'page',
                count: {{.req.Count}},
                limit: {{.req.Limit}},
                curr:  {{.req.Page}},
                prev: '<em><</em>',
                next: '<em>></em>',
                skip: false,
                jump: function (obj, first) {
                    if (first != true) {
                        var query = $('.x-search-form').serialize();
                        query += "&page=" + obj.curr;

                        //  load_page({{urlfor "admin.RoleController.Index"}} + "?" + query,"son");
                        window.location.href={{urlfor "admin.AgreementController.List"}} + "?" + query
                        //layui.admin.tabsBody(layui.admin.tabsPage.index).find(".layadmin-iframe")
                        // layui.admin.url .tabsBodyChange({{urlfor "admin.RoleController.Index"}} + "?" + query)
                    }
                }
            })

            $("#btn-search").click(() =>{
                var query = $('.x-search-form').serialize();
                console.log(query)
                load_page({{urlfor "admin.AgreementController.List"}} + '?' + query);
            })

            util()

            // $("#delete").click(() => {
            //
            // })
            // var deleteFn = function(id) {
            //     console.log(id)
            // }
        })
    }

    /*-删除*/
    function agreement_del(obj, id) {
        parent.layer.confirm('确认要删除吗？', function(index) {

            // 发异步删除数据
            ajax_post_by_fn({{urlfor "admin.AgreementController.Delete"}}, {id: id}, false, true, false, true, function (res) {
                console.log(res)
                if (res.code == 200){
                    $(obj).parents("tr").remove();
                }
            });

        });
    }

</script>
{{end}}