{{define "main"}}

<div class="x-body" >

    <form class="layui-form">
        <input type="text" name="id" hidden value="{{.agent.Id}}">

        <div class="layui-form-item">
            <label class="layui-form-label">账户</label>
            <div class="layui-input-block">
                <input type="text" name="acc" lay-verify="required" placeholder="账户" autocomplete="off" class="layui-input" value="{{.agent.Acc}}">
            </div>
        </div>

        {{if eq 0 .agent.Id}}
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="ag_password" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input" value="{{.agent.AgPassword}}">
            </div>
        </div>
        {{end}}

        <div class="layui-inline"> <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <select name="status" lay-verify="required" lay-search="">
                    <option value="0" {{if eq 0 .agent.Status}}selected{{end}}>禁用</option>
                    <option value="1" {{if eq 1 .agent.Status}}selected{{end}}>启用</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit lay-filter="save">立即提交</button>
            </div>
        </div>
    </form>

</div>
<script>
    window.onload = function () {
        layui.use(['form', 'laydate', 'util', 'upload'], function(){
            var $ = layui.jquery;        // jquery
            var form = layui.form;
            var layer = layui.layer;
            var laydate = layui.laydate;

            form.on('submit(save)', (data) => {
                let field = data.field;
                if (field.acc === "") {
                    layer.msg("账户名不能为空");
                    return false
                }
                {{if eq 0 .agent.Id}}
                    if (field.ag_password === "" || field.ag_password.length < 6) {
                        layer.msg("账户密码名不能为空并且不能小于6位");
                        return false
                    }
                {{end}}
                ajax_post("{{urlfor "admin.AgentController.Edit"}}",field, load_page, true, false, true);
                return false;
            })
        })
    }

</script>

{{end}}