
{{define "main"}}

<body class="x-iframe-body">


<div class="x-body">
        <div class="layui-card">
         <form class="layui-form x-center x-search-form" style="width:80%">
                        <div class="layui-form-pane" style="margin-top: 15px;">
                            <div class="layui-form-item">

                                <div class="layui-inline">
                                    <label class="layui-form-label">关键字</label>
                                    <div class="layui-input-inline">

                                       <input type="text" name="kw" placeholder="请输入关键字" autocomplete="off" class="layui-input" value="{{.Search.kw}}">
                                        <input type="hidden" name="play_id" ty placeholder="请输入关键字" autocomplete="off" class="layui-input" value="{{.Search.play_id}}">
                                    </div>
                                </div>
                                <div class="layui-inline"> <label class="layui-form-label">范围</label>
                                    <div class="layui-input-inline">
                                        <select name="search_field" lay-verify="required" lay-search="">
                                            <option value="">直接选择</option>

                                              <option  value="goods_cate" {{if eq .Search.search_field "goods_cate"}}selected{{end}}>商品类别ID</option>
   <option  value="goods_name" {{if eq .Search.search_field "goods_name"}}selected{{end}}>商品名称</option>
                                            <option  value="reward_type" {{if eq .Search.search_field "reward_type"}}selected{{end}}>商品奖励类别</option>



                                        </select>
                                    </div>
                                </div>



                                <div class="layui-inline">
                                    <div class="layui-input-inline" style="width:80px">
                                        <button type="button" class="layui-btn" id="btn-search"><i class="layui-icon">&#xe615;</i></button>
                                    </div>
                                </div>
                                  <div class="layui-inline">
                                                            <div class="layui-input-inline" style="width:80px">
                                                                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
                                                            </div>
                                                        </div>
                            </div>
                        </div>

                    </form>
            <xblock>
              <xblock>
                  {{if eq .Search.play_id 0}}
                <button class="layui-btn layui-btn-danger" onclick="del_all()"><i class="layui-icon">&#xe640;</i>批量删除</button>
                <button class="layui-btn" onclick="x_admin_show('添加banner', '{{urlfor "admin.GoodsController.Add"}}')"><i class="layui-icon">&#xe608;</i>添加</button>
                <span class="x-right" style="line-height:40px">共有数据：{{.Count}} 条</span>
                  {{else}}
                  <button class="layui-btn" onclick="add_to_play({{.Search.play_id}})"><i class="layui-icon">&#xe608;</i>添加</button>

                  {{end}}
            </xblock>
            </xblock>
            <table class="layui-table layui-form">
                <thead>
                    <tr>

                       <th style="width: 30px"><input type="checkbox" lay-skin="primary" lay-filter="all-select"></th>
                        <th>ID</th>
                      <th>类别ID</th>
<th>商品名称</th>
<!--<th>商品描述</th>-->
<!--<th>商品信息</th>-->
<th>商品单价</th>
<th>优惠价格</th>
<th>商品库存</th>
                        <th>商品奖励类型</th>
<th>商品封面图</th>
                       <th>创建时间</th>

<th>状态</th>
                        {{if eq .Search.play_id 0}}
                       <td>操作</td>
                        {{end}}

                    </tr>
                </thead>
                <tbody id="x-img">
              {{range .List}}
                    <tr>
                        <td><input type="checkbox" lay-skin="primary" value="{{.Id}}" class="all-x-select"></td>
                        <td>{{.Id}}</td>
                        <td>{{.GoodsCate}}</td>
<td>{{language "zh-hant" .GoodsName}}</td>
<!--<td>{{.GoodsDesc}}</td>-->
<!--<td>{{.GoodsContent}}</td>-->
<td>{{.UnitPrice}}</td>
<td>{{.FavorablePrice}}</td>
<td>{{.GoodsStock}}</td>
<td>{{.RewardType}}</td>
                        <td> <img src="../../{{.GoodsCover}}" width="200" οnerrοr="nofind();" /></td>
                        <td>{{.Model.CreatedAt}}</td>
<td>
    {{if eqpoint .GoodsStatus 0}}
    <div class="layui-unselect layui-form-switch layui-checkbox-disbaled layui-disabled" lay-skin="_switch"><em>禁用</em><i></i></div>
    {{else}}
    <div class="layui-unselect layui-form-switch layui-form-onswitch layui-checkbox-disbaled layui-disabled" lay-skin="_switch"><em>启用</em><i></i></div>
    {{end}}
</td>
                        {{if eq $.Search.play_id 0}}

 <td class="td-manage">
                            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-normal" onclick="x_admin_show('编辑群组', {{urlfor "admin.GoodsController.Edit" "id" .Id}})" class="layui-btn layui-btn-xs layui-btn-normal">
                            <i class="layui-icon">&#xe642;</i>编辑
                            </a>
                            <a class="layui-btn layui-btn-xs layui-btn-danger" href="javascript:;" onclick="del(this,'{{.Id}}')">
                                <i class="layui-icon">&#xe640;</i>删除
                            </a>
                        </td>
                        {{end}}

                    </tr>
                {{end}}

                </tbody>
            </table>
            <div id="page"></div>
        </div>
	</div>
	<script>
		window.onload = function() {
			layui.use(['layer', 'form' ,'laypage', 'form'], function() {
				$ = layui.jquery; //jquery
				layer = layui.layer; //弹出层
                var laypage = layui.laypage; // 分页
                form=layui.form
                // 分页
                laypage.render({
                    elem: 'page',
                    count: {{.Count}},
                limit: {{.Search.limit}},
                curr:  {{.Search.page}},
                prev: '<em><</em>',
                    next: '<em>></em>',
                    skip: false,
                    jump: function (obj, first) {
                    if (first != true) {
                        var query = $('.x-search-form').serialize();
                        query += "&page=" + obj.curr;

                        //  load_page({{urlfor "admin.RoleController.Index"}} + "?" + query,"son");
                        window.location.href={{urlfor "admin.GoodsController.Index"}} + "?" + query
                        //layui.admin.tabsBody(layui.admin.tabsPage.index).find(".layadmin-iframe")
                        // layui.admin.url .tabsBodyChange({{urlfor "admin.RoleController.Index"}} + "?" + query)
                    }
                }
            });

				layer.ready(function() { //为了layer.ext.js加载完毕再执行
					layer.photos({
						photos: '#x-img'
						//,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机
					});
				});
			});
            $('#resetBtn').on('click', function(){
                // 使用form模块的resetField方法来重置表单
                form.resetField('myForm');
            });
		}

		// 批量删除提交
		function del_all() {
			parent.layer.confirm('确认要删除吗？', function(index) {
                var ids = get_list_ids('all-x-select');
				// 发异步删除数据
				ajax_post({{urlfor "admin.GoodsController.DeleteBatch"}}, {ids: ids}, false,true, false, true);
			});
		}
        function add_to_play(play_id) {
            parent.layer.confirm('确认要添加吗？', function(index) {
                var ids = get_list_ids('all-x-select');
                if (ids.length==0) {
                    layer.alert('请选择')
                    return false;
                }
                // 发异步删除数据
               ajax_post({{urlfor "admin.playsettingController.addproduct"}}, {ids: ids,play_id:play_id}, false,true, false, true);
            });
        }

		// 删除
		function del(obj, id, name) {
            parent.layer.confirm('确认要删除吗？', function(index) {
				$(obj).parents("tr").remove();

				//发异步删除数据
				ajax_post({{urlfor "admin.GoodsController.Delete"}}, {id: id, name: name}, reload_page);
			});
		}
        $("#btn-search").click(function () {
            var query = $('.x-search-form').serialize();
            console.log(query)
            load_page({{urlfor "admin.GoodsController.Index"}} + '?' + query);
        });
        $("#reset").click(function () {
            load_page({{urlfor "admin.GoodsController.Index"}} + '?' );
        });

    </script>
</body>
{{end}}

