{{define "main"}}
<style type="text/css">
    .fix-table{table-layout: fixed;}
    .fix-table td {white-space: nowrap; /* 自适应宽度*/overflow:hidden;text-overflow:ellipsis;/*省略号显示*/}
</style>
<div class="layui-card">
    <!--        <div class="layui-card-header">理财订单</div>-->
    <div class="layui-card-body">
        <table class="layui-table">
            <colgroup>

            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th>创建时间</th>
                <th>业务</th>
                <th>理由</th>
                <th>名称</th>
                <th>邮箱</th>
                <th>手机号</th>
                <th>公司</th>
                <th>消息</th>
            </tr>
            </thead>
            <tbody>
            {{range $value := .list}}
            <tr >
                <td>{{$value.Id}}</td>
                <td>{{Formatdatetime $value.CreateTime}}</td>
                <td>{{$value.Business}}</td>
                <td>{{$value.Reason}}</td>
                <td>{{$value.FirstName}} {{$value.LastName}}</td>
                <td>{{$value.Email}}</td>
                <td>{{$value.Phone}}</td>
                <td>{{$value.Company}}</td>
                <td>{{$value.Message}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
        <div id="page"></div>
    </div>
</div>
<!--</div>-->
<script>
    window.onload = function () {
        layui.use(['element', 'layer', 'laydate', 'laypage', 'form', 'util'], function() {
            var $ = layui.jquery;        // jquery
            var laypage = layui.laypage; // 分页
            var layer = layui.layer;
            var form = layui.form;
            var util = layui.util
            // 分页
            laypage.render({
                elem: 'page',
                count: {{.req.Count}},
            limit: {{.req.Limit}},
            curr:  {{.req.Page}},
            prev: '<em><</em>',
                next: '<em>></em>',
                skip: false,
                jump: function (obj, first) {
                if (first != true) {
                    var query = $('.x-search-form').serialize();
                    query += "&page=" + obj.curr;

                    //  load_page({{urlfor "admin.RoleController.Index"}} + "?" + query,"son");
                    window.location.href={{urlfor "admin.ContactUsController.List"}} + "?" + query
                    //layui.admin.tabsBody(layui.admin.tabsPage.index).find(".layadmin-iframe")
                    // layui.admin.url .tabsBodyChange({{urlfor "admin.RoleController.Index"}} + "?" + query)
                }
            }
        })


        })
    }

</script>
{{end}}