{{define "main"}}
	<div class="x-body">
		<form class="layui-form">
			{{range .language}}

			<div class="layui-form-item">


				<label class="layui-form-label" ><span class="x-red">*</span>{{.Name}}名称</label>
				<div class="layui-input-block">
					<input type="text" id="title" name="{{.Code}}" lay-verify="required" autocomplete="off" class="layui-input" value="{{language .Code $.result.Title}}">
				</div>

			</div>
			{{end}}

			<div class="layui-form-item">
				<label for="level" class="layui-form-label">等级</label>
				<div class="layui-input-block">
					<input type="text" name="level"  class="layui-input" value="{{.result.Level}}">
				</div>
			</div>

<!--			<div class="layui-form-item">-->
<!--				<label for="title" class="layui-form-label">推荐人数</label>-->
<!--				<div class="layui-input-block">-->
<!--					<input type="text" name="invite_member_num"  class="layui-input" value="{{.result.InviteMemberNum}}">-->
<!--				</div>-->
<!--			</div>-->
			<div class="layui-form-item">
				<label for="invest_money" class="layui-form-label">升级所需经验值</label>
				<div class="layui-input-block">
					<input type="text" name="exp"  class="layui-input" value="{{.result.Exp}}">
				</div>
			</div>
			<div class="layui-form-item">
				<label for="invest_money" class="layui-form-label">每日提现上限(RM)</label>
				<div class="layui-input-block">
					<input type="text" name="day_withdraw_limit"  class="layui-input" value="{{.result.DayWithdrawLimit}}">
				</div>
			</div>
			<div class="layui-form-item">
				<label for="invest_money" class="layui-form-label">每日盲盒上限(次)</label>
				<div class="layui-input-block">
					<input type="text" name="day_blind_num_limit"  class="layui-input" value="{{.result.DayBlindNumLimit}}">
				</div>
			</div>

			<div class="layui-form-item">
				<label for="invest_money" class="layui-form-label">赠送积分</label>
				<div class="layui-input-block">
					<input type="text" name="points"  class="layui-input" value="{{.result.Points}}">
				</div>
			</div>
			<div class="layui-inline"> <label class="layui-form-label">赠送优惠券</label>
				<div class="layui-input-inline">
					<select name="coupon_id" lay-search="">
						<option value="">请选择</option>
						{{range .Coupon}}
						<option  value="{{.Id}}" {{if eqpoint .Id  $.result.CouponId}}selected{{end}}>{{language "zh-hant" .Title}}</option>
       {{end}}
					</select>
				</div>
			</div>


			<div class="layui-form-item">
				<label for="invest_money" class="layui-form-label">优惠券数量</label>
				<div class="layui-input-block">
					<input type="text" name="coupon_num"  class="layui-input" value="{{.result.CouponNum}}">
				</div>
			</div>


			<div class="layui-form-item">
				<label class="layui-form-label">启用状态</label>
				<div class="layui-input-inline">
					{{if .IsUpdate}}
					<input type="radio" name="is_display" value="0" title="禁用"  {{if eqpoint .result.IsDisplay 0 }} checked {{end}} >
					<input type="radio" name="is_display" value="1" title="启用"  {{if eqpoint .result.IsDisplay 1 }}  checked {{end}} >

					{{else}}
					<input type="radio" name="is_display" value="0" title="禁用"  >
					<input type="radio" name="is_display" value="1" title="启用"  checked >
					{{end}}
				</div>
			</div>




			<div class="layui-form-item">
				<input type="hidden" id="id" name="id" value="{{.result.Id}}">
				<button  class="layui-btn" lay-filter="save" lay-submit="">
					保存
				</button>
			</div>
		</form>
	</div>
	<script>
		window.onload = function() {
			layui.use(['form', 'layer', 'upload'], function() {
				$ = layui.jquery;

				var form = layui.form
					,layer = layui.layer;
  
				//图片上传接口
				layui.upload.render({
                    elem: '#upimg',
                    field: 'file',
					url: {{urlfor "PublicController.Upload?type=banner"}},
					done: function(res) { //上传成功后的回调
						if (res.code == 200) {
							$('#LAY_upload').attr('src',"../../"+ res.data.url);
							$('#upload_cover').val(res.data.url);
						} else {
							layer.msg(res.msg, {icon: 3});
						}
					}
				});

				// 监听提交
				form.on('submit(save)', function(data) {
					let params = {};

					$("input[id='title']").each(function(index, value){

						//alert($(this).val())
						params[value.name] = value.value;


					})
					var jsonData = JSON.stringify(params);
					data.field.title =jsonData
				
					ajax_post("{{.PostUrl}}", data.field, load_page, true, true, true);
					return false;
				});
			});
		}
	</script>
</body>
{{end}}