{{define "main"}}
	<div class="x-body">
		<form class="layui-form">
			{{range .language}}
			<div class="layui-form-item">
				<label for="title" class="layui-form-label"><span class="x-red">*</span>{{.Name}}标题</label>
				<div class="layui-input-block">
					<input type="text" id="title" name="{{.Code}}" lay-verify="required" autocomplete="off" class="layui-input" value="{{language .Code $.result.Title}}">
				</div>
			</div>
			{{end}}
			<div class="layui-form-item">
				<label for="title" class="layui-form-label"><span class="x-red">*</span>键-keys</label>
				<div class="layui-input-block">
					<input type="text" id="keys" name="keys" lay-verify="required" autocomplete="off" class="layui-input" value="{{.result.Keys}}">
				</div>
			</div>
			{{range .language}}
			<div class="layui-form-item">
				<label for="content" class="layui-form-label"><span class="x-red">*</span>{{.Name}}内容</label>
				<div class="layui-input-block">
					
					<textarea class="layui-textarea"  id="content_{{.Code}}" name="content" rows="10">{{language .Code $.result.Content}}</textarea>

				</div>
			</div>
			{{end}}
			<div class="layui-form-item">
				<label class="layui-form-label">启用状态</label>
				<div class="layui-input-inline">
					{{if .IsUpdate}}
					<input type="radio" name="status" value="0" title="禁用"  {{if eqpoint .result.Status 0 }} checked {{end}} >
					<input type="radio" name="status" value="1" title="启用"  {{if eqpoint .result.Status 1 }}  checked {{end}} >

					{{else}}
					<input type="radio" name="status" value="0" title="禁用"  >
					<input type="radio" name="status" value="1" title="启用"  checked >
					{{end}}
				</div>
			</div>


			<div class="layui-form-item">
				<input type="hidden" id="id" name="id" value="{{.result.Id}}">
				<button  class="layui-btn" lay-filter="save" lay-submit="">
					保存
				</button>
			</div>
		</form>
	</div>
	<script>
		window.onload = function() {
			layui.use(['form', 'layer', 'upload'], function() {
				$ = layui.jquery;

				var form = layui.form
					,layer = layui.layer;
  
				//图片上传接口
				layui.upload.render({
                    elem: '#upimg',
                    field: 'file',
					url: {{urlfor "PublicController.Upload?type=banner"}},
					done: function(res) { //上传成功后的回调
						if (res.code == 200) {
							$('#LAY_upload').attr('src',"../../"+ res.data.url);
							$('#upload_cover').val(res.data.url);
						} else {
							layer.msg(res.msg, {icon: 3});
						}
					}
				});

				// 监听提交
				form.on('submit(save)', function(data) {
					let params = {};
					let paramsde = {};
					$("input[id='title']").each(function(index, value){

						//alert($(this).val())
						params[value.name] = value.value;


					})
					$("textarea[name='content']").each(function(index, value){


						var key=value.id.replace("content_","")

						//	console.log(html)

						//	console.log("editor_"+key,val)
						paramsde[key] = value.value;


					})

					var jsonData = JSON.stringify(params);
					data.field.title =jsonData

					var jsonDatade = JSON.stringify(paramsde);
					data.field.content=jsonDatade;
					console.log(jsonDatade,jsonData)
					ajax_post("{{.PostUrl}}", data.field, load_page, true, true, true);
					return false;
				});
			});
		}
	</script>
</body>
{{end}}