{{define "main"}}

<div class="x-body">
	<form class="layui-form">
		{{range .language}}
		<div class="layui-form-item">
			<label for="title" class="layui-form-label"><span class="x-red">*</span>{{.Name}}标题</label>
			<div class="layui-input-block">
				<input type="text" id="title"  name="{{.Code}}" lay-verify="required" autocomplete="off" class="layui-input" value="{{language .Code $.result.Title}}">
			</div>
		</div>

		{{end}}
		<div class="layui-form-item">
			<label for="title" class="layui-form-label"><span class="x-red">*</span>价值rm</label>
			<div class="layui-input-block">
				<input type="text" id="price" name="price" lay-verify="required" autocomplete="off" class="layui-input" value="{{.result.Price}}">
			</div>
		</div>
		<div class="layui-form-item">
			<label for="title" class="layui-form-label"><span class="x-red">*</span>每次生成个数</label>
			<div class="layui-input-block">
				<input type="text" id="numbers" name="numbers" lay-verify="required" autocomplete="off" class="layui-input" value="{{.result.Numbers}}">
			</div>
		</div>
		<div class="layui-form-item">
			<label for="title" class="layui-form-label"><span class="x-red">*</span>有效期(天)</label>
			<div class="layui-input-block">
				<input type="text" id="cycle" name="cycle" lay-verify="required" autocomplete="off" class="layui-input" value="{{.result.Cycle}}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-inline">
				{{if .IsUpdate}}<input type="radio" name="status" value="0" title="关闭"  {{if eqpoint .result.Status 0 }} checked {{end}}>
				<input type="radio" name="status" value="1" title="启用"  {{if eqpoint .result.Status 1 }} checked {{end}}>
				{{else}}	<input type = "radio" name = "status" value = "0" title = "关闭"  checked>
				<input type = "radio" name = "status" value = "1" title = "启用"  checked>

				{{end}}
			</div>
		</div>


		<div class="layui-form-item">
			<input type="hidden" id="id" name="id" value="{{.result.Id}}">
			<button  class="layui-btn" lay-filter="save" lay-submit="">
				保存
			</button>
		</div>
	</form>
</div>
<script>
	window.onload = function() {
		layui.use(['form', 'layer', 'upload'], function() {
			$ = layui.jquery;

			var form = layui.form
					,layer = layui.layer;


			// 监听提交
			form.on('submit(save)', function(data) {
				let params = {};
				$("input[id='title']").each(function(index, value){

					//alert($(this).val())
					params[value.name] = value.value;


				})
				var jsonData = JSON.stringify(params);
				data.field.title =jsonData
				ajax_post("{{.PostUrl}}", data.field, load_page, true, true, true);
				return false;
			});
		}); $("#btn-search").click(function () {
			var query = $('.x-search-form').serialize();
			console.log(query)
			load_page({{urlfor "admin.BannerController.Index"}} + '?' + query);
		});
	}
</script>

</body>
{{end}}