
{{define "main"}}

<body class="x-iframe-body">


<div class="x-body">
        <div class="layui-card">
         <form class="layui-form x-center x-search-form" style="width:80%">
                        <div class="layui-form-pane" style="margin-top: 15px;">
                            <div class="layui-form-item">

                                <div class="layui-inline">
                                    <label class="layui-form-label">关键字</label>
                                    <div class="layui-input-inline">

                                       <input type="text" name="kw" placeholder="请输入关键字" autocomplete="off" class="layui-input" value="{{.Search.kw}}">
                                    </div>
                                </div>
                                <div class="layui-inline"> <label class="layui-form-label">范围</label>
                                    <div class="layui-input-inline">
                                        <select name="search_field" lay-verify="required" lay-search="">
                                            <option value="">直接选择</option>

                                              <option  value="rate_arr" {{if eq .Search.search_field "rate_arr"}}selected{{end}}>概率配置</option>
   <option  value="reward_arr" {{if eq .Search.search_field "reward_arr"}}selected{{end}}>概率配置</option>
   <option  value="singel_status" {{if eq .Search.search_field "singel_status"}}selected{{end}}>单人模式开关</option>
   <option  value="double_status" {{if eq .Search.search_field "double_status"}}selected{{end}}>双人模式开关</option>
   <option  value="price" {{if eq .Search.search_field "price"}}selected{{end}}>参加价格</option>
   <option  value="type" {{if eq .Search.search_field "type"}}selected{{end}}>类型</option>
   <option  value="name" {{if eq .Search.search_field "name"}}selected{{end}}>名称</option>


                                        </select>
                                    </div>
                                </div>



                                <div class="layui-inline">
                                    <div class="layui-input-inline" style="width:80px">
                                        <button type="button" class="layui-btn" id="btn-search"><i class="layui-icon">&#xe615;</i></button>
                                    </div>
                                </div>
                                  <div class="layui-inline">
                                                            <div class="layui-input-inline" style="width:80px">
                                                                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
                                                            </div>
                                                        </div>
                            </div>
                        </div>

                    </form>
            <xblock>
              <xblock>
                <button class="layui-btn layui-btn-danger" onclick="del_all()"><i class="layui-icon">&#xe640;</i>批量删除</button>
                <button class="layui-btn" onclick="x_admin_show('添加banner', '{{urlfor "admin.PlaysettingController.Add"}}')"><i class="layui-icon">&#xe608;</i>添加</button>
                <span class="x-right" style="line-height:40px">共有数据：{{.Count}} 条</span>
            </xblock>
            </xblock>
            <table class="layui-table layui-form">
                <thead>
                    <tr>

                       <th style="width: 30px"><input type="checkbox" lay-skin="primary" lay-filter="all-select"></th>
                        <th>ID</th>
                        <th>名称</th>

<th>配置</th>

<!--                        <th>参与积分奖励</th>-->
                        <th>消费1rm获经验</th>

<th>单人模式开关</th>
<th>双人模式开关</th>
<th>参加价格</th>
                        <th>游戏基数</th>
<th>类型</th>


                       <td>操作</td>
                    </tr>
                </thead>
                <tbody id="x-img">
              {{range .List}}
                    <tr>
                        <td><input type="checkbox" lay-skin="primary" value="{{.Id}}" class="all-x-select"></td>
                        <td>{{.Id}}</td>
                        <td> {{language "zh-hant" .Name}}</td>


<td>
    奖励项目配置{{.RewardArr}}<br>
    概率分布配置{{.RateArr}}<br>
    积分奖励配置{{.PointArr}}
</td>

<!--                        <td>{{.JoinPointReward}}</td>-->
                        <td>{{.MoneyToExp}}</td>
<td>{{if eqpoint .SingelStatus 0}}关闭{{end}}{{if eqpoint .SingelStatus 1}}启用{{end}}</td>
<td>{{if eqpoint .DoubleStatus 0}}关闭{{end}}{{if eqpoint .DoubleStatus 1}}启用{{end}}</td>
<td>{{.Price}}</td>
                        <td>{{.Div}}</td>
<td>{{if eqpoint .Type 1}}高爆{{end}}{{if eqpoint .Type 2}}保底{{end}}{{if eqpoint .Type 3}}魔王{{end}}{{if eqpoint .Type 4}}PK{{end}}{{if eqpoint .Type 5}}随机{{end}}{{if eqpoint .Type 6}}盲盒{{end}}</td>

 <td class="td-manage">
                            <a href="javascript:;" onclick="x_admin_show('编辑群组', {{urlfor "admin.PlaysettingController.Edit" "id" .Id}})" class="layui-btn layui-btn-xs layui-btn-normal">
                            <i class="layui-icon">&#xe642;</i>编辑
                            </a>
                            <a class="layui-btn layui-btn-xs layui-btn-danger" href="javascript:;" onclick="del(this,'{{.Id}}')">
                                <i class="layui-icon">&#xe640;</i>删除
                            </a>
     <a href="javascript:;" onclick="x_admin_show('添加奖品', {{urlfor "admin.GoodsController.index" "play_id" .Id}})" class="layui-btn layui-btn-xs layui-btn-normal">
     <i class="layui-icon">+</i>添加奖品

     <a href="javascript:;" onclick="x_admin_show('查看奖品', {{urlfor "admin.playsettingController.addproductview" "play_id" .Id}})" class="layui-btn layui-btn-xs layui-btn-normal">
     <i class="layui-icon">&#xe705;</i>查看奖品
                        </td> </tr>
                {{end}}

                </tbody>
            </table>
            <div id="page"></div>
        </div>
	</div>
	<script>
		window.onload = function() {
			layui.use(['layer', 'form' ,'laypage', 'form'], function() {
				$ = layui.jquery; //jquery
				layer = layui.layer; //弹出层
                var laypage = layui.laypage; // 分页
                form=layui.form
                // 分页
                laypage.render({
                    elem: 'page',
                    count: {{.Count}},
                limit: {{.Search.limit}},
                curr:  {{.Search.page}},
                prev: '<em><</em>',
                    next: '<em>></em>',
                    skip: false,
                    jump: function (obj, first) {
                    if (first != true) {
                        var query = $('.x-search-form').serialize();
                        query += "&page=" + obj.curr;

                        //  load_page({{urlfor "admin.RoleController.Index"}} + "?" + query,"son");
                        window.location.href={{urlfor "admin.PlaysettingController.Index"}} + "?" + query
                        //layui.admin.tabsBody(layui.admin.tabsPage.index).find(".layadmin-iframe")
                        // layui.admin.url .tabsBodyChange({{urlfor "admin.RoleController.Index"}} + "?" + query)
                    }
                }
            });

				layer.ready(function() { //为了layer.ext.js加载完毕再执行
					layer.photos({
						photos: '#x-img'
						//,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机
					});
				});
			});
            $('#resetBtn').on('click', function(){
                // 使用form模块的resetField方法来重置表单
                form.resetField('myForm');
            });
		}

		// 批量删除提交
		function del_all() {
			parent.layer.confirm('确认要删除吗？', function(index) {
                var ids = get_list_ids('all-x-select');
				// 发异步删除数据
				ajax_post({{urlfor "admin.PlaysettingController.DeleteBatch"}}, {ids: ids}, false,true, false, true);
			});
		}

		// 删除
		function del(obj, id, name) {
            parent.layer.confirm('确认要删除吗？', function(index) {
				$(obj).parents("tr").remove();

				//发异步删除数据
				ajax_post({{urlfor "admin.PlaysettingController.Delete"}}, {id: id, name: name}, reload_page);
			});
		}
        $("#btn-search").click(function () {
            var query = $('.x-search-form').serialize();
            console.log(query)
            load_page({{urlfor "admin.PlaysettingController.Index"}} + '?' + query);
        });
        $("#reset").click(function () {
            load_page({{urlfor "admin.PlaysettingController.Index"}} + '?' );
        });

    </script>
</body>
{{end}}

